body {
    background-color: #ebdcd0;
}

.schedule_section {
    padding: 60px 0;
    background-color: #ebdcd0;
}

.schedule_section .heading_container {
    margin-bottom: 40px;
}

.schedule_images .schedule_item {
    max-width: 300px;
}

.schedule_images .schedule_item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}