@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap");

.chair_name {
    font-size: 1.25rem; /* Increase font size */
    margin-bottom: 10px; /* Add space between names */
    display: flex;
    align-items: center;
    text-align: center;
}

.chair_name i {
    margin-right: 10px; /* Add space between icon and name */
}

.chair_item {
    padding: 20px; /* Add padding to the chair item */
    border: 1px solid #ebdcd0; /* Add border to the chair item */
    border-radius: 10px; /* Round the corners */
    background-color: #f5e9e0; /* Light background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
}


/* Wrapper for content */
.content-wrapper {
    max-width: 800px;
    margin: 20px auto;
    background: #f5e9e0;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center text in this wrapper */
}

/* Section Headings */
.section-heading {
    font-size: 1.8rem;
    color: #444;
    border-bottom: 2px solid #55537b;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

/* Styled List */
.styled-list {
    list-style: none;
    padding: 0;
}

.styled-list li {
    margin: 10px 0;
    font-size: 1.2rem;
    color: #555;
    display: flex; /* To align horizontally in the center */
    align-items: center;
    justify-content: center;
}

.styled-list li i {
    font-size: 1.4rem;
    color: #4caf50;
    margin-right: 10px;
}

/* Paragraph Styling */
.about-text {
    text-align: center; /* Center align the paragraph */
    font-size: 1.1rem;
    color: #666;
    margin-top: 15px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .content-wrapper {
        padding: 15px 20px;
    }

    .section-heading {
        font-size: 1.6rem;
    }

    .styled-list li {
        font-size: 1rem;
    }

    .about-text {
        font-size: 1rem;
    }
}

body {
    font-family: "Open Sans", sans-serif;
    color: #55537b;
    background-color: #ebdcd0;
    overflow-x: hidden;
}

.layout_padding {
    padding: 90px 0;
}

.heading_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.btn-primary {
    animation: pulse 2s infinite;
    background: #57465c;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(1);
    }
}

.custom-button {
    background-color: #57465c !important;
    border-color: #57465c !important;
}

.custom-button:hover {
    background-color: #57465c !important;
    border-color: #57465c !important;
}

.heading_container h2 {
    position: relative;
    font-weight: bold;
    margin-bottom: 0;
}

.heading_container h2 span {
    color: #57465c;
}

.heading_container p {
    margin-top: 10px;
    margin-bottom: 0;
}

.heading_container.heading_center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

a:hover,
a:focus {
    color: initial;
}

.btn,
.btn:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*header section*/
.hero_area {
    position: relative;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.hero_area .hero_bg_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    overflow: hidden;
    z-index: -1;
}

.hero_area .hero_bg_box .bg_img_box {
    min-width: 100%;
    min-height: 100%;
}

.hero_area .hero_bg_box img {
    min-width: 100%;
    min-height: 100%;
}

.sub_page .hero_area {
    min-height: auto;
    background: linear-gradient(130deg, #57465c, #57465c);
}

.sub_page .hero_area .hero_bg_box {
    display: none;
}

.header_section {
    padding: 15px 0;
}

.header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
}

.navbar-brand span {
    font-weight: bold;
    font-size: 24px;
    color: #ebdcd0;
}

.custom_nav-container {
    padding: 0;
}

.custom_nav-container .navbar-nav {
    margin-left: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 5px 20px;
    color: #ebdcd0;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
    color: #ebdcd0;
}

.custom_nav-container .navbar-nav .nav-item.active .nav-link {
    font-weight: 600;
}

.custom_nav-container .navbar-toggler {
    outline: none;
}

.custom_nav-container .navbar-toggler {
    padding: 0;
    width: 37px;
    height: 42px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
    display: block;
    width: 35px;
    height: 4px;
    background-color: #ebdcd0;
    margin: 7px 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    border-radius: 5px;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ebdcd0;
    top: -10px;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
    top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
}

/*end header section*/
/* slider section */
.slider_section {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding: 45px 0 145px 0;
}

.slider_section .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.slider_section #customCarousel1 {
    width: 100%;
    position: unset;
}

.slider_section .detail-box {
    color: #ebdcd0;
}

.slider_section .detail-box h1 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #ebdcd0;
}

.slider_section .detail-box p {
    color: #ebdcd0;
    font-size: 14px;
}

.slider_section .detail-box .btn-box a {
    margin: 5px;
    text-align: center;
    width: 165px;
}

.slider_section .img-box img {
    width: 100%;
    -webkit-animation: upDown 5s infinite;
    animation: upDown 5s infinite;
}

@-webkit-keyframes upDown {
    0% {
        -webkit-transform: translateY(-45px);
        transform: translateY(-45px);
    }
    50% {
        -webkit-transform: translateY(45px);
        transform: translateY(45px);
    }
    100% {
        -webkit-transform: translateY(-45px);
        transform: translateY(-45px);
    }
}

@keyframes upDown {
    0% {
        -webkit-transform: translateY(-45px);
        transform: translateY(-45px);
    }
    50% {
        -webkit-transform: translateY(45px);
        transform: translateY(45px);
    }
    100% {
        -webkit-transform: translateY(-45px);
        transform: translateY(-45px);
    }
}

.slider_section .carousel-indicators li {
    background-color: #55537b;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    opacity: 1;
}

.slider_section .carousel-indicators li.active {
    width: 20px;
    height: 20px;
    background-color: #ebdcd0;
}

.service_section {
    position: relative;
}

.service_section .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin-top: 45px;
    background-color: #ebdcd0;
    padding: 20px;
    border-radius: 5px;
}

.service_section .box .img-box img {
    max-width: 100%;
    max-height: 100%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.service_section .box .detail-box h5 {
    font-weight: bold;
    text-transform: uppercase;
}

.service_section .box .detail-box a {
    color: #ebdcd0;
    font-weight: 600;
}

.service_section .box .detail-box a:hover {
    color: #ebdcd0;
}

.service_section .btn-box a {
    display: inline-block;
    padding: 10px 45px;
    background-color: #ebdcd0;
    color: #ebdcd0;
    border-radius: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
}

.service_section .btn-box a:hover {
    background-color: #ebdcd0;
}

.about_section {
    background-color: #ebdcd0;
    color: #57465c;
}

.about_section .heading_container {
    margin-bottom: 45px;
}

.about_section .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.about_section .img-box img {
    max-width: 100%;
}

.about_section .detail-box h3 {
    font-weight: bold;
}

.about_section .detail-box p {
    margin-top: 15px;
}

.about_section .detail-box a {
    display: inline-block;
    padding: 10px 45px;
    background-color: #57465c;
    color: #ebdcd0;
    border-radius: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
    margin-top: 15px;
}

.about_section .detail-box a:hover {
    background-color: #57465c;
}

.why_section .box {
    margin-top: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.why_section .box .img-box img {
    width: 55px;
    height: auto;
    fill: #57465c;
}

.why_section .box h5 {
    font-weight: bold;
    margin-bottom: 10px;
}

.why_section .box p {
    margin-bottom: 0;
}

.why_section .btn-box a {
    display: inline-block;
    padding: 10px 45px;
    background-color: #57465c;
    color: #ebdcd0;
    border-radius: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
}

.why_section .btn-box a:hover {
    background-color: #57465c;
}

/*team section */

.team_section .heading_container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.team_section .team_container .box {
    padding: 35px 0 0 0;
    border-radius: 5px;
    overflow: hidden;
    -webkit-transition: all .1s;
    transition: all .1s;
    margin-top: 45px;
    background: linear-gradient(to bottom, #57465c, #57465c);
}

.team_section .team_container .box .img-box img {
    width: 120px;
    border-radius: 100%;
    border: 5px solid #ebdcd0;
}

.team_section .team_container .box .detail-box {
    margin: 25px 0;
}

.team_section .team_container .box .detail-box h5 {
    color: #57465c;
    font-weight: 600;
    position: relative;
}

.team_section .team_container .box .social_box a {
    color: #ebdcd0;
    font-size: 22px;
}

.team_section .team_container .box .social_box a:hover {
    color: #57465c;
}

/*team section end*/
/* client section start */
.client_section .heading_container {
    margin-bottom: 30px;
}

.client_section .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 15px;
}

.client_section .box .img-box img {
    border-radius: 100%;
}

.client_section .box .client_id .client_info h6 {
    font-weight: 600;
    margin-bottom: 5px;
}

.client_section .box .client_id .client_info p {
    font-size: 14px;
    margin-bottom: 10px;
}

.client_section .box .detail-box {
    background-color: #ebdcd0;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
    padding: 75px 25px 25px 25px;
}

.client_section .box .detail-box i {
    color: #55537b;
    margin-bottom: 10px;
}

/* client section end */

.info_section h4 {
    font-weight: 600;
    margin-bottom: 20px;
}

.info_section .info_contact .contact_link_box a {
    margin: 5px 0;
    color: #ebdcd0;
}

.info_section .info_contact .contact_link_box a i {
    margin-right: 5px;
}

.info_section .info_contact .contact_link_box a:hover {
    color: #57465c;
}

.info_section .info_social a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ebdcd0;
    border-radius: 100%;
    margin-right: 10px;
    font-size: 24px;
}

.info_section .info_social a:hover {
    color: #57465c;
}

.info_section .info_links a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px;
    color: #ebdcd0;
}

.info_section .info_links a:hover {
    color: #57465c;
}

.info_section form input {
    border: none;
    border-bottom: 1px solid #ebdcd0;
    background-color: transparent;
    width: 100%;
    height: 45px;
    color: #ebdcd0;
    outline: none;
}

.info_section form input::-webkit-input-placeholder {
    color: #ebdcd0;
}

.info_section form input:-ms-input-placeholder {
    color: #ebdcd0;
}

.info_section form input::-ms-input-placeholder {
    color: #ebdcd0;
}

.info_section form input::placeholder {
    color: #ebdcd0;
}

.info_section form button {
    width: 100%;
    text-align: center;
    display: inline-block;
    padding: 10px 55px;
    color: #ebdcd0;
    border-radius: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
    margin-top: 15px;
}

/* footer section*/

.footer_section p {
    color: #55537b;
    padding: 25px 0;
    margin: 0;
}

.footer_section p a {
    color: inherit;
}